{% extends "layout.html" %}
<head>
  {% block head %}
    <title>ERROR 403</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: 403"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="content-section">
    <h1>Oops! Permissions error! (403)</h1>
    <p>You don't have permission for that! Check your user account and try again.</p>
  </div>
{% endblock body %}
