{% extends "layout.html" %}
<head>
  {% block head %}
    <title>ERROR 404</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: 404"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="content-section">
    <h1>Oops! Page not found! (404)</h1>
    <p>That page doesn't exist! Please try another page.</p>
  </div>
{% endblock body %}
