{% extends "layout.html" %}
<head>
  {% block head %}
    <title>ERROR 500</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: 500"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="content-section">
    <h1>Hey! Why don't you just get up and dance, man? (500)</h1>
    <p>Something went wrong but we don't know quite what. Please try again!</p>
  </div>
{% endblock body %}
