h1, h2, h3, h4, h5, h6, div, span, p{
  color: #e2e2e2;
  font-family: 'Montserrat';
}

#content-desktop {display: visible;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
  #content-desktop {display: none;}
  #content-mobile {display: block;}
}

h1 {
  font-wight: 400;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 300;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #3a3a3a;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.content-section:hover {
  background: #333333;
}

.article-title {
  color: #e2e2e2;
  font-family: 'Montserrat';
  font-weight: 400;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
  font-family: 'Montserrat';
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-top: 4px;
  border-top: 1px solid #3f3f3f
}

.article-metadata a:hover {
  color: #e3e3e3;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5pt;
  width: 100%;
  background: #3a3a3a;
}

body {
  background: linear-gradient(128deg, #172d42, #421717, #423d17, #421717, #172d42);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
   0%{background-position:0% 9%}
   50%{background-position:100% 92%}
   100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
   0%{background-position:0% 9%}
   50%{background-position:100% 92%}
   100%{background-position:0% 9%}
}
@keyframes AnimationName {
   0%{background-position:0% 9%}
   50%{background-position:100% 92%}
   100%{background-position:0% 9%}
}

.transition-fade {
  transition: 0.4s ease;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(100pt);
}

html {
  scroll-behavior: smooth;
}

/* Sidebar */
.sidenav {
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 68pt;
  right: 10pt;
  background: #3a3a3a;
  overflow-x: hidden;
  padding: 8px 0;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
