<footer class="page-footer font-small mt-auto py-3" style="background: #3e3e3e">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>Arrow Tracker is a score tracker for all Pump it Up mixes! Written and maintained <body>
              by dj505 and Beanfox, and hosted by Concubidated, Arrow Tracker aims to be a suitable
              replacement for the leaderboard that died alongside Prime 2, as well as a personal
              score and achievement tracker for completionists, casual players, and those who want
              to skill up alike!
            </body></p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Arrow Tracker</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/resources">Full Resources</a>
          </li>
          <li>
            <a href="https://github.com/dj505/arrowtracker">Open Source</a>
          </li>
          <li>
            <a href="https://discord.gg/EfExC7H">Discord</a>
          </li>
          <li>
            <a style="color: #ff8282" href="https://www.ko-fi.com/dj505piu">Support the Site on Ko-Fi!</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Resources</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://piugame.com/piu.xx/">PIU XX Official Site</a>
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1pdZ0NtbrDQpKqyrnkaZfycwqsNS-UNGQWQAaUvdlWyg">Codelock's XX Unlocks</a>
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1YOUOZogs5I0YlMw-1uBI7HXaMAZKjRg5h0XJ4csJh7Y">Kyle's XX Unlocks</a>
          </li>
          <li>
            <a href="https://docs.google.com/spreadsheets/d/1kyaLMzDlg5-f7V9oArPfUEsqZswULO3LbUFAf4bQ3Yw">Full XX Song List</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/dj505/arrowtracker">dj505</a>
  </div>
</footer>
