<div class="sidenav card animated fadeInRight fast" id="content-desktop">
  <h5>Quick Links</h5>
  <hr />
  <li>
    <a href="/post/new_score">Submit Score</a>
  </li>
  <li>
    <a href="/members">Members</a>
  </li>
  <li>
    <a href="/about">About Site</a>
  </li>
  <li>
    <a href="/challenge/weekly">Weekly Challenge</a>
  </li>
  <li>
    <a href="https://discord.gg/EfExC7H" target="_blank">Report a Bug</a>
  </li>
  <li>
    <a href="https://buymeacoff.ee/dj505" target="_blank">Support the Site</a>
  </li>
</div>
