{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>About</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
<div class="jumbotron text-center animated fadeIn">
  <h1 style="padding: 10px"><img src="{{ url_for('static', filename='newlogo-arrow-small.png') }}" alt="" />&nbsp&nbspWelcome to Arrow Tracker</h1>
    <p class="lead">
    This is an application meant for PIU players to submit and track their scores easily!
    Scores can be submitted as either Keyboard (StepF2) or Pad.
    </p>
    <hr class="my-4">
    <h4>This site currently only supports Pump it Up! More games will be coming eventually!</h4>
    <hr class="my-4">
  <h3>Quick Links</h3>
  <div class="btn-group" role="group" aria-label="Quick Links" style="padding-bottom:10pt">
    <a href="{{ url_for('scores.new_score') }}" class="btn btn-secondary">Submit Score</a>
    <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Home</a>
    <a href="{{ url_for('users.dashboard') }}" class="btn btn-secondary">Dashboard</a>
  </div>
  <hr \>
  <div>
    {% include 'includes/_coffee_button.html' %}
    <p class="legend" style="padding-top: 10pt">Arrow Tracker is completely free, open source, and will always be ad-free!<br \>
    I hope you're enjoying the site! Please consider donating if you find it useful (*≧▽≦)</p>
  </div>
</div>
{% if not current_user.is_authenticated %}
<div class="card mx-auto animated fadeIn" style="width: 100%">
  <div class="card-body">
    <h5>It seems you aren't logged in!</h5>
    <p class="card-text">Please log in or create an account to start submitting your scores!</p>
    <div class="text-center">
      <a href="{{ url_for('users.register') }}" class="btn btn-primary btn-lg">Register</a>
      <a href="{{ url_for('users.login') }}" class="btn btn-success btn-lg">Login</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
