{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1 style="padding: 10px"><img src="{{ url_for('static', filename='newlogo-arrow-small.png') }}" alt="" />&nbsp&nbspWelcome to Arrow Tracker</h1>
    <p class="lead">
    This is an application meant for PIU players to submit and track their scores easily!
    Scores can be submitted as either Keyboard (StepF2) or Pad.
    Image verification support is planned for the future!
    </p>
    <hr class="my-4">
    <h4>This site currently only supports Pump it Up! More games will be coming eventually!</h4>
  <h3>Quick Links</h3>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{{ url_for('scores.new_score') }}" class="btn btn-secondary">Submit Score</a>
    <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Home</a>
    <a href="{{ url_for('users.dashboard') }}" class="btn btn-secondary">Dashboard</a>
  </div>
</div>
{% if not current_user.is_authenticated %}
<div class="card mx-auto" style="width: 100%">
  <div class="card-body">
    <h5>It seems you aren't logged in!</h5>
    <p class="card-text">Please log in or create an account to start submitting your scores!</p>
    <div class="text-center">
      <a href="{{ url_for('users.register') }}" class="btn btn-primary btn-lg">Register</a>
      <a href="{{ url_for('users.login') }}" class="btn btn-success btn-lg">Login</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
