{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Changelog</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
<div class="jumbotron text-center">
  <h1><img src="{{ url_for('static', filename='newlogo-arrow-small.png') }}" alt="" />&nbsp&nbspArrow Tracker Changelog</h1>
    <hr />
    <h3>New this update:</h3>
    <pre style='text-align: left'>{{ changelog }}</pre>
</div>
{% endblock %}
