{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>About</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
<div style="padding: 5pt">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#worldMusic" aria-expanded="false" aria-controls="worldMusic">
    World Music
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#original" aria-expanded="false" aria-controls="original">
    Original
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kPop" aria-expanded="false" aria-controls="kPop">
    K-Pop
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jMusic" aria-expanded="false" aria-controls="jMusic">
    J-Music
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#xross" aria-expanded="false" aria-controls="xross">
    Xross
  </button>
</div>
<div>
  <div class="collapse content-section" id="worldMusic">
    {% for score in scores.items %}
      hello
    {% endfor %}
  </div>
  <div class="collapse" id="original">

  </div>
  <div class="collapse" id="kPop">

  </div>
  <div class="collapse" id="jMusic">

  </div>
  <div class="collapse" id="xross">

  </div>
</div>
{% endblock %}
