{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Create Tournament</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: Create Tournament"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="content-section">
    <form action="" method="POST" enctype = "multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create Tournament</legend>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
              {{ form.name(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.skill_lvl.label(class="form-control-label") }}
            {% if form.skill_lvl.errors %}
              {{ form.skill_lvl(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.skill_lvl.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.skill_lvl(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.description.label(class="form-control-label") }}
              {% if form.description.errors %}
            {{ form.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.description.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.description(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.bracketlink.label(class="form-control-label") }}
              {% if form.bracketlink.errors %}
            {{ form.bracketlink(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.bracketlink.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.bracketlink(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.contactinfo.label(class="form-control-label") }}
              {% if form.contactinfo.errors %}
            {{ form.contactinfo(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.contactinfo.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.contactinfo(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <hr />
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            <p>Add Tournament Icon/Logo</p>
            <div class="custom-file">
              <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01"><span class="span-choose-file">Add Tournament Icon<span></label>
            </div>
          </div>
        </div>
        <hr />
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
{% endblock %}
