{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Dashboard</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <div class="content-section">
      <legend class="border-bottom mb-4">Update Account Details</legend>
      <div>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#premadePfp" aria-expanded="false" aria-controls="collapseExample">
          ArrowTracker Profile Images
        </button>
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#premadePfpP2" aria-expanded="false" aria-controls="collapseExample">
          Prime 2 Profile Images
        </button>
      </div><br>
      <div class="content-section collapse" id="premadePfp">
        <form action="{{ url_for('users.update_pfp') }}" method="POST">
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default13.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default13.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default12.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default12.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default1.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default1.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default2.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default2.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default3.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default3.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default4.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default4.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default5.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default5.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default6.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default6.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default7.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default7.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default8.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default8.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default9.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default9.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default10.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default10.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default11.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default11.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default14.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default14.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="default15.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/default15.jpg') }}" /></button>
          </div><br>
        </form>
      </div>
      <div class="content-section collapse" id="premadePfpP2">
        <form action="{{ url_for('users.update_pfp') }}" method="POST">
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_1.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_1.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_2.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_2.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_3.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_3.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_4.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_4.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_5.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_5.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_6.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_6.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_7.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_7.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_8.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_8.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_9.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_9.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_10.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_10.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_11.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_11.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_12.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_12.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_13.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_13.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_14.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_14.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_15.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_15.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_16.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_16.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_17.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_17.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_18.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_18.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_19.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_19.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_20.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_20.jpg') }}" /></button>
          </div><br>
          <div class="btn-group" role="group" aria-label="Default Profile Images">
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_21.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_21.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_22.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_22.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_23.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_23.jpg') }}" /></button>
            <button type="submit" class="btn btn-secondary" name="submit_button" value="defaultp2_24.jpg"><img class="rounded" width="60pt" src="{{ url_for('static', filename='profile_pics/defaultp2_24.jpg') }}" /></button>
          </div><br>
        </form>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!--
          <div class="form-group">
            {{ form.rivals.label(class="form-control-label") }}
            {% if form.rivals.errors %}
              {{ form.rivals(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.rivals.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.rivals(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          -->
          <hr>
          <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-field">
          {{ form.submit(class="btn btn-outline-success") }}
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
