  {% extends "layout.html" %}
  <head>
    {% block head %}
      <title>Arrow Tracker</title>
      {% block meta %}
        <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
        <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
        <meta property="og:url" content="https://arrowtracker.duckdns.org/">
        <meta name="theme-color" content="#99beea">
        <meta name="robots" content="index, nofollow">
      {% endblock meta %}
    {% endblock head %}
  </head>
  {% block body %}
    <h1>Newest Scores</h1>
    <h4>{{ total }} Total Scores</h4>
    <hr class="my-4">
    {% for score in scores.items %}
      <article class="media content-section" style="overflow: auto; max-width: 100%;">
        <img src="{{ url_for('static', filename='profile_pics/' + score.author.image_file) }}" class="rounded-circle article-img">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=score.author.username) }}">{{ score.author.username }}</a>
            <small class="text-muted">{{ score.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          <h2>
            <div>
              {% if score.song in songdata %}
                <img class="rounded float-right" width="170pt" src="{{ url_for('static', filename='songthumbs/{}.png'.format(songdata[score.song]['id'])) }}">
              {% endif %}
              <div style="padding-right: 5pt;">
                {% if score.lettergrade == "a" and score.stagepass == "True" %}
                  <img class="rounded float-right" width="80pt" src="{{ url_for('static', filename='judgements/sp_a.png') }}">
                {% elif score.lettergrade == "s" and score.stagepass == "True" %}
                  <img class="rounded float-right" width="80pt" src="{{ url_for('static', filename='judgements/s.png') }}">
                {% elif score.lettergrade == "ss" and score.stagepass == "True" %}
                  <img class="rounded float-right" width="100pt" src="{{ url_for('static', filename='judgements/ss.png') }}">
                {% elif score.lettergrade == "sss" and score.stagepass == "True" %}
                  <img class="rounded float-right" width="100pt" src="{{ url_for('static', filename='judgements/sss.png') }}">
                {% endif %}
              </div>
              <div class="float-left">
                <a class="article-title" href="{{ url_for('scores.score', score_id=score.id) }}">{{ score.song }}</a>
                <h3>
                  {{score.length}}
                </h3>
                {% if score.image_file != "None" and score.platform == "pad" %}
                  <h4><span class="badge badge-success">Verified!</span></h4>
                {% elif score.image_file != "None" and score.platform != "pad" %}
                  <h4><span class="badge badge-info">Verified SF2!</span></h4>
                {% endif %}
              </div>
            </div>
          </h2>
          <div class="article-content">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Difficulty</th>
                    <th>Letter Grade</th>
                    <th>Score</th>
                    <th>Stage Pass</th>
                    <th>Platform</th>
                    <th>Ranked?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% if score.type != "None" %}
                        {{score.type.capitalize()}}
                      {% endif %}
                      {{score.difficulty}}
                    </td>
                    <td>{{score.lettergrade.upper()}}</td>
                    <td>{{score.score}}</td>
                    {% if score.stagepass == "True" %}
                      <td>{{score.stagepass|replace("True", "Yes")}}</td>
                    {% elif score.stagepass == "False" %}
                      <td>{{score.stagepass|replace("False", "No")}}</td>
                    {% endif %}
                    <td>{{score.platform.capitalize()|replace('Sf2-pad', 'StepF2 Pad')}}</td>
                    {% if score.ranked == "True" %}
                      <td>{{score.ranked|replace("True", "Yes")}}</td>
                    {% elif score.ranked == "False" %}
                      <td>{{score.ranked|replace("False", "No")}}</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
    <ul class="pagination">
      {% for page_num in scores.iter_pages(left_edge=1, right_edge=1) %}
        {% if page_num %}
          {% if scores.page == page_num %}
            <li class="page-item disabled">
              <a class="page-link" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            </li>
          {% else %}
            <li class="page-item active">
              <a class="page-link" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item disabled">
            <a class="page-link mb-4"">...</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endblock body %}
