{% extends 'layout.html' %}
{% block body %}
  <div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">New Score</legend>
        <div class="form-group">
          {{ form.song.label(class="form-control-label") }}
          {% if form.song.errors %}
            {{ form.song(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.song.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.song(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.score.label(class="form-control-label") }}
          {% if form.score.errors %}
            {{ form.score(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.score.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.score(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.lettergrade.label(class="form-control-label") }}
          {% if form.lettergrade.errors %}
            {{ form.lettergrade(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.lettergrade.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.lettergrade(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.type.label(class="form-control-label") }}
          {% if form.type.errors %}
            {{ form.type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.type.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.type(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.difficulty.label(class="form-control-label") }}
          {% if form.difficulty.errors %}
            {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.difficulty.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.difficulty(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.platform.label(class="form-control-label") }}
          {% if form.platform.errors %}
            {{ form.platform(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.platform.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.platform(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.stagepass.label(class="form-control-label") }}
          {% if form.stagepass.errors %}
            {{ form.stagepass(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.stagepass.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.stagepass(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.ranked.label(class="form-control-label") }}
          {% if form.ranked.errors %}
            {{ form.ranked(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.ranked.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.ranked(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
{% endblock body %}
