{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Post Score</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
    <script type="text/javascript">
      $(document).ready(function() {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
      });
    </script>
  {% endblock %}
</head>
{% block body %}
  <div class="content-section" id="scoreform">
    <form action="" method="POST" enctype = "multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">New Score</legend>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.song.label(class="form-control-label") }}
            {% if form.song.errors %}
              {{ form.song(id="songDropdown", class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.song.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.song(id="songDropdown", class="form-control form-control-lg", onchange="updateSelectedSong()") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.length.label(class="form-control-label") }}
            {% if form.length.errors %}
              {{ form.length(id="lengthDropdown", class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.length.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.length(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            <div>
              <label class="form-control-label" for="difficulty">Difficulty</label>
              <a style="color: #4fbcf7" data-toggle="tooltip" data-placement="top" title="Refresh page if difficulties don't load!">[i]</a>
            </div>
            <select id="difficultyDropdown" class="form-control form-control-lg" name="diffDrop"></select>
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.lettergrade.label(class="form-control-label") }}
            {% if form.lettergrade.errors %}
              {{ form.lettergrade(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.lettergrade.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.lettergrade(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.score.label(class="form-control-label") }}
            {% if form.score.errors %}
              {{ form.score(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.score.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.score(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="form-row" style="padding: 5pt">
          <div class="col">
            {{ form.platform.label(class="form-control-label") }}
            {% if form.platform.errors %}
              {{ form.platform(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.platform.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.platform(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.stagepass.label(class="form-control-label") }}
            {% if form.stagepass.errors %}
              {{ form.stagepass(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.stagepass.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.stagepass(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="col">
            {{ form.ranked.label(class="form-control-label") }}
            {% if form.ranked.errors %}
              {{ form.ranked(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.ranked.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.ranked(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
      <div>
        <hr>
      </div>
      <div style="padding: 5pt">
        <div class="form-row">
          <label class="form-control-label" for="image_file">Verification Image</label>
          <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01"><span class="span-choose-file">Add Verification Image<span></label>
          </div>
        </div>
      </div>
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
  <script>
    data = {% if songdata %}{{ songdata | tojson | safe }}{% endif %}
    var diffDrop = document.getElementById("difficultyDropdown");
    var song = document.getElementById("songDropdown");

    function updateSelectedSong() {
      diffDrop.options.length = 0;

      var strSong = song.options[song.selectedIndex].value;
      var diffs = data[strSong]["difficulties"];

      for(var i=0; i < diffs.length; i++) {
        var option = document.createElement("OPTION"),
          txt = document.createTextNode(diffs[i]);
        option.appendChild(txt);
        option.setAttribute("value",diffs[i]);
        diffDrop.insertBefore(option,diffDrop.lastChild);
      }
    }

    updateSelectedSong();
  </script>
{% endblock body %}
