{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>How To Use</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: The PIU Score Tracker"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="index, nofollow">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
<div class="jumbotron text-center">
  <h1><img src="{{ url_for('static', filename='newlogo-arrow-small.png') }}" alt="" />&nbsp&nbspResources</h1>
    <hr />
    <table class="table" style="text-align: left">
      <tr>
        <th>PIU XX Official Site</th>
        <td><a href="http://www.piugame.com/piu.xx/">PIUGame</a></td>
      </tr>
      <tr>
        <th>Arrow Tracker Source Code</th>
        <td><a href="http://github.com/dj505/ArrowTracker">GitHub</a></td>
      </tr>
      <tr>
        <th>PIU XX Song List</th>
        <td><a href="https://docs.google.com/spreadsheets/d/1kyaLMzDlg5-f7V9oArPfUEsqZswULO3LbUFAf4bQ3Yw">Google Spreadsheet</a></td>
      </tr>
      <tr>
        <th>PIU XX Difficulty Re-rating List</th>
        <td><a href="https://docs.google.com/spreadsheets/d/101BGhr8oaTc-F4D3_s0rep__Wyru3iGHwPWAEhSakbQ">Google Spreadsheet</a></td>
      </tr>
      <tr>
        <th>Codelock's PIU XX Song and Title Unlocks Guide</th>
        <td><a href="https://docs.google.com/spreadsheets/d/1pdZ0NtbrDQpKqyrnkaZfycwqsNS-UNGQWQAaUvdlWyg">Google Spreadsheet</a></td>
      </tr>
      <tr>
        <th>Kyle's PIU XX Song and Title Unlock Guide</th>
        <td><a href="https://docs.google.com/spreadsheets/d/1YOUOZogs5I0YlMw-1uBI7HXaMAZKjRg5h0XJ4csJh7Y/edit#gid=33808989">Google Spreadsheet</a></td>
      </tr>
    </table>
</div>
{% endblock %}
