{% extends 'layout.html' %}
{% block body %}
  <div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Song Leaderboards</legend>
        <div class="form-group">
          {{ form.song.label(class="form-control-label") }}
          {% if form.song.errors %}
            {{ form.song(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.song.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.song(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.filters.label(class="form-control-label") }}
          {% if form.filters.errors %}
            {{ form.filters(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.filters.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.filters(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.userfilter.label(class="form-control-label") }}
          {% if form.userfilter.errors %}
            {{ form.userfilter(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.userfilter.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.userfilter(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-field">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </form>
  </div>
{% endblock body %}
