{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>Supporters</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: Supporters"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="jumbotron text-center animated fadeIn">
    <h2>Supporters</h2>
    <h3>{{ total }} Total Supporters</h3>
    <p class="lead">
      Want to support the site and be part of this list? Click below!
    </p>
    {% include 'includes/_coffee_button.html' %}
    <hr />
    <table class="table table-striped table-dark animated fadeIn">
      <th>Name</th>
      <th>Amount</th>
      {% set count = namespace(a=0) %}
      {% set place = namespace(b=0) %}
      {% for supporter in supporters.items() %}
        {% set count.a = count.a + 0.03 %}
        {% set place.b = place.b + 1 %}
        <tr class="animated fadeInLeft fast" style="animation-delay: {{ count.a|float }}s;">
          <td>{{ supporter[0] }}</td>
          <td>{{ supporter[1]['amount'] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
