{% extends "layout.html" %}
<head>
  {% block head %}
    {% block title %}<title>{{tournament.name}}</title>{% endblock %}
    {% block meta %}
      <meta property="og:title" content="{{tournament.name}}"/>
      <meta property="og:description" content="{{tournament.description}}"/>
      <meta property="og:url" content="{{ request.url }}">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <article class="media content-section" style="overflow: auto; max-width: 100%">
    {% if tournament.image_file != "None" %}
      <img src="{{ url_for('static', filename='tournament_pics/' + tournament.image_file) }}" class="rounded-circle article-imgtournament" style="padding-right: 5pt">
    {% endif %}
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ tournament.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <h2 class="article-title" style="padding: 5pt">{{ tournament.name }}</h2>
      <div style="padding: 10px">
        {{tournament.description}}
      </div>
      <hr />
      <div style="padding: 10px">
        <h4>Organizer Contact Information</h4>
        {{tournament.contactinfo}}
      </div>
      <hr />
      {% if "challonge" in tournament.bracketlink %}
        <div style="padding-bottom: 10pt; padding-left: 5pt; padding-right: 5pt">
          <iframe src="{{tournament.bracketlink}}/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
        </div>
        <a href="{{tournament.bracketlink}}"><small>Bracket Link</small></a>
      {% elif tournament.bracketlink != "None" %}
        <p><a href="{{tournament.bracketlink}}">Bracket Link</a> [Not a Challonge link, unable to embed!]</p>
      {% else %}
        <p>No bracket link provided. See organizer for information.</p>
      {% endif %}
      <hr />
      {% if tournament.user_id == current_user.id %}
      <div>
        <div>
          <form action="{{ url_for('main.edit_tournament', tournament_id=tournament.id) }}">
            <input type="submit" class="btn btn-info m-1" value="Edit">
          </form>
        </div>
        <div>
          <form action="{{ url_for('main.delete_tournament', tournament_id=tournament.id) }}" method="POST">
            <input type="submit" class="btn btn-danger m-1" value="Delete">
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </article>
{% endblock body %}
