{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>About</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: Join Tournament"/>
      <meta property="og:description" content="A handy score tracking utility for PIU XX with screenshot support"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <div class="row">
    {% for tournament in tournaments.items %}
      <div class="col-sm-6" style="padding-bottom: 20pt">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{tournament.name}}</h5>
            <p class="lead">{{tournament.skill_lvl}}</p>
            <p class="card-text">{{tournament.description}}</p>
            <a href="{{ url_for('main.tournament', tournament_id=tournament.id) }}" class="btn btn-primary">View</a>
            {% if current_user.id == tournament.user_id %}
              <a href="{{url_for('main.edit_tournament', tournament_id=tournament.id)}}" class="btn btn-primary">Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
