{% extends 'layout.html' %}
<head>
  {% block head %}
    <title>All Members</title>
    {% block meta %}
      <meta property="og:title" content="Arrow Tracker: Users"/>
      <meta property="og:description" content="A handy score tracking utility for Pump it Up!"/>
      <meta property="og:url" content="https://arrowtracker.duckdns.org/">
      <meta name="theme-color" content="#99beea">
      <meta name="robots" content="none">
    {% endblock meta %}
  {% endblock %}
</head>
{% block body %}
  <h2>Members</h2>
  <h4>{{ total }} Total Members</h4>
  <hr />
  <div class="row">
    {% set count = namespace(a=0) %}
    {% for user in users %}
      {% set count.a = count.a + 0.02 %}
      <div class="col-sm-4 animated fadeInLeftBig fast" style="padding-bottom: 20pt; animation-delay: {{ count.a|float }}s;">
        <div class="card">
          <div class="card-body" style="white-space:nowrap">
            <div style="display: inline">
              <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" class="rounded-circle article-img" style="float: left">
              <h3 class="card-title">{{ user.username }}</h3>
            </div>
            <div style="display:inline; white-space:nowrap;">
              <a href="{{ url_for('users.user_page', username=user.username) }}" class="btn btn-secondary">View Profile</a>
              <a href="{{ url_for('users.user_posts', username=user.username) }}" class="btn btn-secondary">View Scores</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
